
* {
    font-family: calibri;
}

body {
    background-image: url('bg.png');
    background-repeat: repeat;
}

.content {
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 5vh;
}

.top {
    padding-bottom: 1vh;
    border-bottom: 2px solid #000;
}

.top-left {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
}

.top-right {
    float: right;
}

.products {
    padding-top: 2vh;
    background-color: rgba(255, 255, 255, 0.5);
}

.item {
    display: inline-block;
    width: 20%;
    height: 100%;
    margin: 2vw 2vw;
    border: 1px solid #000;
}

.item-description {
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.input-row {
    padding-bottom: 3vh;
    padding-left: 2vw;
}

.input-description {
    margin-left: 2vw;
    padding-bottom: 2vh;
    display: block;
    font-size: 16px;
}

.weight-input-row {
    display: none;
}

.size-input-row {
    display: none;
}

.dimension-input-row {
    display: none;
}

.menu {
    display: inline-block;
}

.btn-green {
    background-color: rgb(4, 168, 18);
    border-radius: 10px;
    width: 70px;
    height: 25px;
    border: 1px solid rgb(0, 128, 11);
    transition: 0.3s;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

.btn-green:hover {
    background-color: rgb(0, 226, 19);
}

.btn-red {
    background-color: rgb(168, 4, 40);
    border-radius: 10px;
    width: 70px;
    height: 25px;
    border: 1px solid rgb(139, 2, 32);
    transition: 0.3s;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
}

.btn-red:hover {
    background-color: rgb(238, 5, 56);
}

input[type=checkbox] {
    transform: scale(1.25);
}

@media screen and (max-width: 400px) {
    .item {
        display: inline-block;
        width: 40%;
        margin: 2vw 2vw;
        border: 1px solid #000;
    }
}